<h1><%= @flat.title %></h1>
<p><%= @flat.description %></p>
<p><strong>Price:</strong> <%= number_to_currency(@flat.price) %> per night</p>


<h3>Make a Booking</h3>
<%# At some point please replace this form_with with a simple_form_for %>
<%= form_with(model: [@flat, @booking]) do |f| %>
  <%= f.label :start_date %>
  <%= f.date_field :start_date %>

  <%= f.label :end_date %>
  <%= f.date_field :end_date %>

  <%= f.submit "Book Now", class: "btn btn-primary" %>
<% end %>

<p><strong>Price:</strong> <%= number_to_currency(@flat.price) %> per night</p>
