<h1>Dashboard</h1>
<p>Welcome to your dashboard,<strong> <%= current_user.first_name %> </strong>  ! </p> <!-- email works for now, should change to user name later -->

<!-- booking table -->
<h2>Your Bookings</h2>
<% if @bookings.present? %>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Flats</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.flat.title %></td>
          <td><%= booking.start_date %></td>
          <td><%= booking.end_date %></td>
          <td><%= booking.status %></td>
          <td>
            <%= link_to booking_path(booking), class: 'btn btn-primary btn-sm' do %>
              <i class="fa-solid fa-eye"></i>
            <% end %>
            <%= link_to booking, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No bookings found.</p>
<% end %>

<h2>Your Flats</h2>
<% if @flats.present? %>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Flats</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Status</th>

        <th scope="col">Who ?</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @flats.each do |flat| %>
          <% flat.bookings.each do |booking| %>
        <tr>
          <td><%= booking.flat.title %></td>
          <td><%= booking.start_date %></td>
          <td><%= booking.end_date %></td>
          <td><%= booking.status %></td>

          <td><%= booking.user.first_name %> <%= booking.user.last_name %></td>
          <td>
            <%= link_to booking_path(booking), class: 'btn btn-primary btn-sm' do %>
              <i class="fa-solid fa-eye"></i>
            <% end %>
            <%= link_to booking, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' do %>
              <i class="fas fa-trash"></i>
            <% end %>
            <%= link_to accept_booking_path(booking), data: { turbo_method: :patch }, class: 'btn btn-success btn-sm' do %>
              <i class="fas fa-check"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No bookings found.</p>
<% end %>

<%= link_to new_flat_path, class: "btn btn-dark" do %>
  <i class="fas fa-plus"></i> Add a New Flat
<% end %>
