<h1>Home page</h1>
<h1><%= @flat.title %></h1>
<p><%= @flat.description %></p>
<p><strong>Price:</strong> <%= number_to_currency(@flat.price) %></p>
<%= stylesheet_link_tag 'home', media: 'all' %>



<h3>Make a Booking</h3>


<% if @flat.nil? %>
  <p>No flats available.</p>
<% else %>
  <%= form_for [@flat, @booking] do |f| %>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>

    <%= f.label :end_date %>
    <%= f.date_field :end_date %>

    <%= f.label :status %>
    <%= f.text_field :status %>

    <%= f.submit "Book Now" %>
  <% end %>
<% end %>

<%= link_to "Go to Flats_details", flats_path, class: "btn btn-primary" %>


