
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://a0.muscache.com/im/pictures/d03d9889-b6c3-42f5-ad84-2c6c4b7a57b2.jpg)">
  <div class="container">
    <h1>Welcome to the new Airbnb </h1>
    <p>Change your life and stay in nice places around the world.</p>
  </div>
</div>

<%= link_to "Add Another Flat", new_flat_path, class: "btn btn-secondary" %>

<div class="container row">
  <div>
  </div>
  <% @flats.each do |flat| %>
  <div class="card col-md-4">
    <%= link_to flat.title, flat_path(flat)  %>
    <h1><%= flat.title %></h1>
    <%= cl_image_tag(flat.photos[0].key, height: 100, width: 150, crop: :fill) %>
    <p><%= flat.description %></p>
    <p><strong>Price:</strong> <%= number_to_currency(flat.price) %></p>
  </div>
  <% end%>
</div>
